<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    Address:<br>
    <textarea id="myTextarea">
    342 Alvin Road
    Ducksburg</textarea>
    
    <p>Click the button to alert the contents of the text area.</p>
    
    <button type="button" onclick="myFunction()">Try it</button>
    
    <p id="demo"></p>
    
    <script>
    function myFunction() {
      var x = document.getElementById("myTextarea").value;
      console.log(x.length)
      document.getElementById("demo").innerHTML = x;
    }
    </script>
</body>

</html>