<nav class="navbar is-light">
    <div class="container">
    <div class="navbar-brand">
        <p class="buttons">
            <a href="https://github.com/Mikhailosev" class="button">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>GitHub</span>
              </a>
              </p>
          <a class="navbar-item" href="/dashboard">
            <img src="https://i.imgur.com/MtCtrCr.png">
          </a>
          <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
    <div id="navMenu" class="navbar-menu has-text-centered">
    <div class="navbar-end">
            <a href="/dashboard/items" class="navbar-item is-active">Sell an item</a>
            <a href="/dashboard/shop" class="navbar-item">Shop</a>
           
          </div>
    </div>
    </div>
</nav>
<section class="section">
  <form enctype="multipart/form-data" id="postForm" >
      <div class="columns">
        <div class="column is-4 is-offset-4">
          <% include ./partials/messages %>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input
                class="input"
                type="name"
                id="name"
                name="name"
                placeholder="Enter full name of an item"
                value="<%= typeof name != 'undefined' ? name : '' %>"
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Size</label>
            <div class="control has-icons-left has-icons-right">
                <select class="input"
                name="size"
                id="size"
                type="text"
                placeholder="Enter size"
                value="">
                        <option value="XS">XS</option>
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                      </select>
              <span class="icon is-small is-left">
                <i class="fa fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Quality</label>
            <div class="control has-icons-left has-icons-right">
                <select class="input"
                name="quality"
                id="quality"
                type="text"
                placeholder="Enter quality"
                value="">
                        <option value="New with tag">New with tag</option>
                        <option value="New without tag">New without tag</option>
                        <option value="With deffects">With deffects</option>
                        <option value="Was worn one time">Was worn one time</option>
                        <option value="Was worn several times">Was worn several times</option>
                      </select>
              <span class="icon is-small is-left">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Price</label>
            <div class="control">
              <input
                class="input"
                type="number"
                id="price"
                name="price"
                placeholder="Enter the Price"
                value="<%= typeof price != 'undefined' ? price : '' %>"
              />
            </div>
          </div>
          <div class="field">
                <label class="label">Description</label>
            <div class="control">
              <textarea onchange="textareaFunc()" id="description" class="textarea is-primary input" type="text" name="description" placeholder="Provide some description if necessary"></textarea>
            </div>
          </div>
          <div class="field">
              <label class="label">Image</label>
            <div class="control">
              <input id="image" type='file' name="itemImage">
               <p>Image should be png/jpeg/jpg</p>
            </div>
          </div>
          <div class="field">
  
          <div class="field is-grouped">
            <div class="control">
                <a
                style="pointer-events: none; cursor: default"
                id="b"
                
                onclick="dataLoad()"
                  class="button is-large is-primary  btn-primary btn-block">
                   Submit
                </a>   
            <button id="submitButton" class="button is-large is-success">
             <a href="/dashboard/shop"> <label class="label"
                >Go back!</label></a>
            </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
  <script>
    dataLoad=()=>{
    const xhrPost=new XMLHttpRequest()
      xhrPost.open("POST", "/dashboard/shopItemAdd")
    const data=new FormData(document.getElementById("postForm"));
    xhrPost.onload=(res)=>{
console.log(res)
      window.location.href="/dashboard/shop"
    }
  xhrPost.send(data)
}
 
   
       let state = {
    nameValid: false,
    sizeValid: false,
    qualityValid: false,
    priceValid: false,
    descriptionValid: false,
    imageValid: false,
    allValid: false
  };
  let checkValidity = value => {
    return value.length > 0;
  };
  let areAllFieldsValid = state => {
    console.log(state);
    let count = 0;
    for (key in state) {
      if (state[key] == true) {
        count += 1;
        if (count === 6) {
          state.allValid = true;
        }
      }
    }
    if (state.allValid === true) {
      var b = document.getElementById("b");
      b.style = "";
    }
  };
  let switchButtonEnablement = boolVal => {
    let buttonEl = document.getElementById("submitButton");
    return buttonEl.setAttribute(String(boolVal));
  };

  let priceEl = document.getElementById("price");   
  priceEl.oninput = e => {
    console.log(e);
    state.priceValid = checkValidity(priceEl.value);
    state.nameValid = checkValidity(nameEl.value);
    state.sizeValid = checkValidity(sizeEl.value);
    state.qualityValid = checkValidity(qualityEl.value);
    var text2 = $("#description").val();
    state.descriptionValid = checkValidity(text2);
    let file = "";
    if (imageEl.files.length > 0) {
      console.log(imageEl.files.length);
      file = "12";
      state.imageValid = checkValidity(imageEl.files);
      areAllFieldsValid(state);
    }
  };
  let nameEl = document.getElementById("name");
  nameEl.oninput = e => {
    state.priceValid = checkValidity(priceEl.value);
    state.nameValid = checkValidity(nameEl.value);
    state.sizeValid = checkValidity(sizeEl.value);
    state.qualityValid = checkValidity(qualityEl.value);
    var text2 = $("#description").val();
    state.descriptionValid = checkValidity(text2);
    let file = "";
    if (imageEl.files.length > 0) {
      console.log(imageEl.files.length);
      file = "12";
      state.imageValid = checkValidity(imageEl.files);
      areAllFieldsValid(state);
    }
  };
  let sizeEl = document.getElementById("size");
  sizeEl.oninput = e => {
    state.priceValid = checkValidity(priceEl.value);
    state.nameValid = checkValidity(nameEl.value);
    state.sizeValid = checkValidity(sizeEl.value);
    state.qualityValid = checkValidity(qualityEl.value);
    var text2 = $("#description").val();
    state.descriptionValid = checkValidity(text2);
    let file = "";
    if (imageEl.files.length > 0) {
      console.log(imageEl.files.length);
      file = "12";
      state.imageValid = checkValidity(imageEl.files);
      areAllFieldsValid(state);
    }
  };
  let qualityEl = document.getElementById("quality");
  console.log(quality);
  qualityEl.oninput = e => {
    state.priceValid = checkValidity(priceEl.value);
    state.nameValid = checkValidity(nameEl.value);
    state.sizeValid = checkValidity(sizeEl.value);
    state.qualityValid = checkValidity(qualityEl.value);
    var text2 = $("#description").val();
    state.descriptionValid = checkValidity(text2);
    let file = "";
    if (imageEl.files.length > 0) {
      console.log(imageEl.files.length);
      file = "12";
      state.imageValid = checkValidity(imageEl.files);
      areAllFieldsValid(state);
    }
  };
  //TODO: find the way on how to listen description and image changes
  textareaFunc = () => {
    var text2 = $("#description").val();
    state.priceValid = checkValidity(priceEl.value);
    state.nameValid = checkValidity(nameEl.value);
    state.sizeValid = checkValidity(sizeEl.value);
    state.qualityValid = checkValidity(qualityEl.value);
    var text2 = $("#description").val();
    state.descriptionValid = checkValidity(text2);
    let file = "";
    if (imageEl.files.length > 0) {
      console.log(imageEl.files.length);
      file = "12";
      state.imageValid = checkValidity(imageEl.files);
      areAllFieldsValid(state);
    }
  };

  let imageEl = document.getElementById("image");
  imageEl.oninput = e => {
    state.priceValid = checkValidity(priceEl.value);
    state.nameValid = checkValidity(nameEl.value);
    state.sizeValid = checkValidity(sizeEl.value);
    state.qualityValid = checkValidity(qualityEl.value);
    var text2 = $("#description").val();
    state.descriptionValid = checkValidity(text2);
    let file = "";
    if (imageEl.files.length > 0) {
      console.log(imageEl.files.length);
      file = "12";
      state.imageValid = checkValidity(imageEl.files);
      areAllFieldsValid(state);
    }
  };
  
  </script>