<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey">Login</h3>
        <p class="subtitle has-text-grey">Please login to proceed.</p>
        <div class="box">
          <% include ./partials/messages %>
          <figure class="avatar">
            <img src="https://i.imgur.com/iPCzmNn.png" />
          </figure>
          <form action="/users/login" method="POST">
            <div class="field">
              <div class="control">
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="input is-large"
                  type="email"
                  placeholder="Your Email"
                  autofocus=""
                />
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="input is-large"
                  type="password"
                  placeholder="Your Password"
                />
              </div>
            </div>
            <div class="field">
              <label class="checkbox">
                <input type="checkbox" />
                Remember me
              </label>
            </div>
            <button
              type="submit"
              class="button is-block is-info is-large is-fullwidth"
            >
              Login
            </button>
          </form>
        </div>
        <p class="has-text-grey">
          <label class="label"
            >Dont have an accout?
            <a class="is-info" style="color:blue" href="/users/register"
              ><i>SignUp</i></a
            ></label
          >
          <a href="../">Forgot Password</a> &nbsp;·&nbsp;
          <a href="../">Need Help?</a>
        </p>
      </div>
    </div>
  </div>
</section>
