<nav class="navbar is-light">
  <div class="container">
    <div class="navbar-brand">
      <p class="buttons">
        <a href="https://github.com/Mikhailosev" class="button">
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          <span>GitHub</span>
        </a>
      </p>
      <a class="navbar-item" href="/dashboard">
        <img src="https://i.imgur.com/MtCtrCr.png" />
      </a>
      <span class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navMenu" class="navbar-menu has-text-centered">
      <div class="navbar-end" id="navbar">
        <a href="/dashboard/items" id="navbar" class="navbar-item "
          >Sell an item</a
        >
        <a href="#" class="navbar-item">Blog</a>
        <a href="#" class="navbar-item">Forum</a>
        <a href="/dashboard/shop" class="navbar-item is-active">Shop</a>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div id="flow">
    <span class="flow-1"></span>
    <span class="flow-2"></span>
    <span class="flow-3"></span>
  </div>
  <div class="section">
    <div class="box" id="box">
      <div class="field has-addons">
        <div class="control is-expanded">
          <input
            type="search"
            id="searchField"
            name="searchField"
            class="input has-text-centered"
            placeholder="» » » » » » find me « « « « « «"
          />
        </div>
        <div class="control">
          <a onclick="searchItems()" class="button is-info">Search</a>
        </div>
      </div>
    </div>

    <span id="loadViewAll"></span>
    <div id="data2" class=" shrink border row columns is-multiline"></div>
  </div>
</div>

<script type="text/javascript">
  allItems = () => {
    $("#load1").remove();
    $("#load").remove();
    $("#box").append(
      $(`<a class="button is-half is-active  is-large is-outlined" id="load1" onclick="allItems()">All items</a>
      <a class="button is-half  is-large is-outlined" id="load" onclick="myItems()">My Items</a>`)
    );
    myReq.onload();
  };
  myItems = () => {
    $("#load1").remove();
    $("#load").remove();
    $("#box").append(
      $(`<a class="button is-half  is-large is-outlined" id="load1" onclick="allItems()">All items</a>
      <a class="button is-half is-active is-large is-outlined" id="load" onclick="myItems()">My Items</a>`)
    );
    $(".canBeDelited").remove();

    let userItemsReq = new XMLHttpRequest();
    userItemsReq.open("GET", "/dashboard/shopItemsCreatedByUser");
    userItemsReq.onload = () => {
      let userDataItems = JSON.parse(userItemsReq.responseText);
      renderHTMLforUsersItems(userDataItems);
    };
    userItemsReq.send();
  };
  renderHTMLforUsersItems = data => {
    for (i = 0; i < data.length; i++) {
      $("#data2").append(
        $(`<div class="column canBeDelited is-one-third">
      <div class="card canBeDelited large round">
        <div class="card-image canBeDelited">
          <figure class="image canBeDelited">
            <img src="/dashboard/${
              data[i].itemImage
            }" class="canBeDelited" alt="Image" />
          </figure>
        </div class="canBeDelited">
        <div class="card-content canBeDelited">
          <div class="media canBeDelited">
            <div class="media-left canBeDelited">
              <figure class="canBeDelited image is-96x96">
                <img
                  src="https://image.flaticon.com/icons/png/512/97/97895.png"
                  alt="Image"
                  class="canBeDelited"
                />
              </figure>
            </div>
            <div class="media-content canBeDelited">
              <p class="title canBeDelited is-4 no-padding" style="margin-bottom:0px">
                ${data[i].name}
              </p>
              <p class="canBeDelited">
                <span class="title canBeDelited has-text-black	 is-6"
                  ><b >Size: </b>              ${data[i].size}
  </span
                >
              </p>
              <p class="canBeDelited">
                <span class="title canBeDelited has-text-black	 is-6"
                  ><b>Quality: </b>              ${data[i].quality}
  </span
                >
              </p>
              <p class="canBeDelited">
                <span class="title canBeDelited has-text-black	 is-6"
                  ><b>Price: </b>              ${data[i].price}
  $</span
                >
              </p>
            </div>
          </div>
          <div class="content canBeDelited">
             <p class="canBeDelited"><b>Description:</b><p>
              <p class="canBeDelited"> ${data[i].description}</p>

          </div>
          <div class="buttons has-addons is-centered">
            <a href="/dashboard/update/${data[i]._id}" class="button is-large is-warning">Edit</a>

  <a href="/dashboard/singleItem/${data[i]._id}"  class="button is-large is-primary">View</a>

  <a class="button is-large is-danger" onclick="deleting('${data[i]._id}')">Delete</a>

  </div>  
        </div>
      </div>
    </div>`)
      );
    }
  };
  //RENDERING AT LOADING
  let myReq = new XMLHttpRequest();
  myReq.open("GET", "/dashboard/shopItems");
  myReq.onload = () => {
    let myData = JSON.parse(myReq.responseText);
    $(".canBeDelited").remove();
    renderHTML(myData);
  };
  myReq.send();
 
  //SEARCHBAR
  function searchItems() {
    const search = new XMLHttpRequest();
    const url =
      "/dashboard/search/?searchField=" +
      document.getElementById("searchField").value;
    search.open("GET", url);
    search.onload = () => {
      let searchData = JSON.parse(search.responseText);
      renderSearch(searchData);
    };
    search.send();
  }
  //onload
  let getUser = new XMLHttpRequest();
  getUser.open("GET", "/dashboard/passuser");
  //fetchApi!!
  getUser.onload = () => {
    let userData = JSON.parse(getUser.responseText);
    renderUserHTML(userData);
  };
  getUser.send();
  renderUserHTML = userData => {
    if (userData[0]._id) {
      $("#box").append(
        $(`<a class="button is-half is-active is-large is-outlined" id="load1" onclick="allItems()">All items</a>
      <a class="button is-half is-large is-outlined" id="load" onclick="myItems()">My Items</a>`)
      );
      $("#navbar").append(
        $('<a href="/users/logout" class="navbar-item">Logout</a>')
      );
    }
  };
 

  renderHTML = data => {
    $("#loadBack").remove();
    for (i = 0; i < data.length; i++) {
      $("#data2").append(
        $(`<div class="column canBeDelited is-one-third">
      <div class="card canBeDelited large round">
        <div class="card-image canBeDelited">
          <figure class="image canBeDelited">
            <img src="/dashboard/${
              data[i].itemImage
            }" class="canBeDelited" alt="Image" />
          </figure>
        </div class="canBeDelited">
        <div class="card-content canBeDelited">
          <div class="media canBeDelited">
            <div class="media-left canBeDelited">
              <figure class="canBeDelited image is-96x96">
                <img
                  src="https://image.flaticon.com/icons/png/512/97/97895.png"
                  alt="Image"
                  class="canBeDelited"
                />
              </figure>
            </div>
            <div class="media-content canBeDelited">
              <p class="title canBeDelited is-4 no-padding" style="margin-bottom:0px">
                ${data[i].name}
              </p>
              <p class="canBeDelited">
                <span class="title canBeDelited has-text-black	 is-6"
                  ><b >Size: </b>              ${data[i].size}
  </span
                >
              </p>
              <p class="canBeDelited">
                <span class="title canBeDelited has-text-black	 is-6"
                  ><b>Quality: </b>              ${data[i].quality}
  </span
                >
              </p>
              <p class="canBeDelited">
                <span class="title canBeDelited has-text-black	 is-6"
                  ><b>Price: </b>              ${data[i].price}
  $</span
                >
              </p>
            </div>
          </div>
          <div class="content canBeDelited">
             <p class="canBeDelited"><b>Description:</b><p>
              <p class="canBeDelited"> ${data[i].description}</p>

          </div>
          <div class="buttons has-addons is-centered">

  <a href="/dashboard/singleItem/${data[i]._id}" class="button is-large is-primary">View</a>

  </div>  
        </div>
      </div>
    </div>`)
      );
    }
  };
  renderSearch = data => {
    $("#loadBack").remove();

    $("#loadViewAll").append(
      $(`<a class="button is-fullwidth is-large is-outlined" id="loadBack" onclick="myReq.onload()">Go Back to all Items</a>
`)
    );
    $(".canBeDelited").remove();
    for (i = 0; i < data.length; i++) {
      $("#data2").append(
        $(`<div class="column canBeDelited is-one-third">
      <div class="card canBeDelited large round">
        <div class="card-image canBeDelited">
          <figure class="image canBeDelited">
            <img src="/dashboard/${
              data[i].itemImage
            }" class="canBeDelited" alt="Image" />
          </figure>
        </div class="canBeDelited">
        <div class="card-content canBeDelited">
          <div class="media canBeDelited">
            <div class="media-left canBeDelited">
              <figure class="canBeDelited image is-96x96">
                <img
                  src="https://image.flaticon.com/icons/png/512/97/97895.png"
                  alt="Image"
                  class="canBeDelited"
                />
              </figure>
            </div>
            <div class="media-content canBeDelited">
              <p class="title canBeDelited is-4 no-padding" style="margin-bottom:0px">
                ${data[i].name}
              </p>
              <p class="canBeDelited">
                <span class="title canBeDelited has-text-black	 is-6"
                  ><b >Size: </b>              ${data[i].size}
  </span
                >
              </p>
              <p class="canBeDelited">
                <span class="title canBeDelited has-text-black	 is-6"
                  ><b>Quality: </b>              ${data[i].quality}
  </span
                >
              </p>
              <p class="canBeDelited">
                <span class="title canBeDelited has-text-black	 is-6"
                  ><b>Price: </b>              ${data[i].price}
  $</span
                >
              </p>
            </div>
          </div>
          <div class="content canBeDelited">
             <p class="canBeDelited"><b>Description:</b><p>
              <p class="canBeDelited"> ${data[i].description}</p>

          </div>
          <div class="buttons has-addons is-centered">

  <span class="button is-large is-primary">View</span>

  </div>  
        </div>
      </div>
    </div>`)
      );
    }
  };
  deleting=(id)=>{
    console.log(id)
    let delItem = new XMLHttpRequest();
  delItem.open("DELETE", "/dashboard/delete/"+id);
  //fetchApi!!
  delItem.send();
  delItem.onload = () => {
   myItems()
  };

  }
</script>
